<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main Page</title>
    <link rel="stylesheet"type="text/css" href="{{ url_for('static', filename='userlist.css')}}"/><!-- CSS FILE -->
    <script type="text/javascript" src="{{ url_for('static', filename='effects.js')}}"></script> <!-- JS FILE -->
    <script type="text/javascript" src="{{ url_for('static', filename='searching.js')}}"></script> <!-- JS//SEARCHING FILE -->
  </head>
<body>

    <!-- DASHBOARD -->
    <header>    
        <nav>
            <ul class="dash">
                <li><a href="/admin/about" class="nav" data-target="about">About</a></li>
                <li><a href="/profile/admin" class="nav" data-target="profile">Profile</a></li>
                
            </ul>
        </nav>  

        <form action="{{ url_for('logout') }}" method="post" class="logout-form">
            <button type="submit" class="btn btn-logout">Logout</button>
        </form>
        
    </header>

    <!-- MANU TABLE -->
    <section class="menu">
        <img src="{{ url_for('static', filename='background/admin_logo.png') }}" class="logos">
        <div class="Menu-tab">
            <a href="/admin/home" class="list">HOME</a>
            <a href="/admin/dashboard" class="list">ADMISSION</a>
            <a href="/users" class="list">LIST</a>
            <a href="/admin/grades" class="list">GRADE</a>
            <a href="/admin/sections" class="list">SECTIONS</a>
        </div>
    </section>


<!-- LIST OF STUDENTS -->
<section class="listed">
    <!-- Search Bar -->
    <input type="text" id="searchBar" onkeyup="searchTable()" placeholder="Search for students..." class="search-bar">
    <div class="listed-container">
        
        <table class="listed-table">
            <thead class="information-table">
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Courses</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone Number</th>                    
                    <th>Supporting Document</th>
                    <th>Role</th>
                    <th>PROMOTION</th>
                    <th>year</th>

                    <th>SECTION</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.courses }}</td>

                    <td>{{ user.email }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.contact_number }}</td>

                    <!-- view support doccuments -->
                    <td>
                        {% if user.supporting_document %}
                            <a href="{{ url_for('static', filename='uploads/' + user.supporting_document) }}" target="_blank" class="viewing-doc">View Document</a>
                        {% else %}
                            No Document
                        {% endif %}
                    </td>
                    <!-- student status -->
                    <td>
                        {% if user.is_teacher %}
                            Teacher
                        {% else %}
                            Student
                        {% endif %}
                    </td>
                    <!-- promote to teacher -->
                    <td>
                        {% if not user.is_teacher %}
                        <form method="POST" action="{{ url_for('promote_to_teacher', user_id=user.id) }}">
                            <button type="submit" class="btn-promote">Promote to Teacher</button>
                        </form>
                        {% endif %}
                    </td>
                   <form method="POST" action="{{ url_for('update_user', user_id=user.id) }}">

                    <!-- Update User Year -->

                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <td>
                        <select name="year" class="btn-promote">
                            <option value="1styr" {% if user.year == "1styr" %}selected{% endif %}>1ST YEAR</option>
                            <option value="2ndyr" {% if user.year == "2ndyr" %}selected{% endif %}>2ND YEAR</option>
                        </select>
                    </td>

                    <!-- Update Section -->
                    <td>
                        <select name="section" class="btn-promote">
                            {% if user.courses == 'BSEE' %}
                                <!-- IF COURSE IS EE -->
                                <option value="BSEE 1-A" {% if user.section == "BSEE 1-A" %}selected{% endif %}>BSEE 1-A</option>
                                <option value="BSEE 2-A" {% if user.section == "BSEE 2-A" %}selected{% endif %}>BSEE 2-A</option>
                            {% elif user.courses == 'BSIE' %}
                                <!-- IF COURSE IS IE -->
                                <option value="BSIE 1-A" {% if user.section == "BSIE 1-A" %}selected{% endif %}>BSIE 1-A</option>
                                <option value="BSIE 2-A" {% if user.section == "BSIE 2-A" %}selected{% endif %}>BSIE 2-A</option>
                            {% else %}
                                <!-- ELSE CPE -->
                                <option value="BSCPE 1-A" {% if user.section == "BSCpE 1-A" %}selected{% endif %}>BSCPE 1-A</option>
                                <option value="BSCPE 2-A" {% if user.section == "BSCpE 2-A" %}selected{% endif %}>BSCPE 2-A</option>
                            {% endif %}
                        </select>
                    </td>

                    <!-- Submit Button for Updating Year and Section -->
                    <td><button type="submit" class="btn-promote">Update</button></td>
                </form>

                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
</section>

<!-- BACKGROUND -->
<div class="background"></div>

<!-- WAVING CONTENT -->
<div class="wave-content">

  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>

    <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#77CAE8" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="#68A9C0" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="#5E9DB4" />
        <use xlink:href="#gentle-wave" x="48" y="2" fill="#648F9F" />
    </g>
  </svg>
</div>      

<!-- WAVING LAYERED -->
<div class="wave-layered">

  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>

    <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="5" fill="#5E9DB4" />
    </g>
  </svg>
</div>      

</body>
</html>
