body {
    margin:0;
    padding: 0;
    overflow: hidden;
    
}


/*DASHBOARD*/
header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.5px 30px;
    background: linear-gradient(165deg, #4d677c ,#8bbbe0, #c6dafd, white);
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 1050;
    border-bottom: 1px solid white;
}

a[data-target="about"] {
    background-color: #7AE2CF;
    color: black; 
    transform: all 2s ease-in-out;   
    font-weight: bold;
}

a[data-target="about"]:hover {
    background-color: #db835f;
    color: black;    
}

.dash {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-right: -40.5%;
}


.nav-center {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 1;
    
}


.nav-center li {
    list-style: none;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.15rem;
    padding: 8px 25px;
    transition: 0.3s ease-in-out;
    margin: 0 1.25rem;
    background-color: #b3e0f7;
    border: white 1px solid;
    border-radius: 25px;
    width: fit-content;
    transform: translateX(-3.5rem);
    color: rgba(0, 0, 0, 0.3);
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav:hover {
    background: white;
    color: black;
    border-radius: 25px;
}

.btn-logout {
    position: fixed;
    background: linear-gradient(90deg, #DC2626, #B91C1C);
    color: white;
    border: none;
    padding: 8px 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 1051;
    top: .5%;
    right: 5%;
    transform: translate(50%, 50%);
    border-radius: 25px;
}

.btn-logout:hover {
    background-color: darkred;
    transform: translate(50%, 50%) scale(1.1);
}

/* BACKGROUND */
.background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: 900;
    background: #b3e0f7; 
    pointer-events: none;
}

.aboutContainer {
    position: fixed;
    height: 70%;
    width: 67.5%;
    background: linear-gradient(145deg, #4d6a7d, #7faedc);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 1500;
    border-radius: 25px 0 25px 0;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
    opacity: 0;
    animation: bebe 3s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 0.25s;
    animation-fill-mode: both;
}

@keyframes bebe {
    0% {
        transform: translate(-50%, -30%);
        opacity: 0;
        height: 0%;
        width: 0%;
        border-radius: 30px;
    }

    50%{
        transform: translate(-50%, -52%);
        opacity: 1;
        height: 35%;
        width: 33.75%;
        border-radius: 30px;

    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
        height: 70%;
        width: 67.5%;
        border-radius: 25px 0 25px 0;
    }
}


.imagecontains {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
    height: 45vh;
    overflow: hidden;
    animation: entrance 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 2s;
    animation-fill-mode: both;
}

@keyframes entrance {
    0% {
        transform: translate(-50%, -40%);
        opacity: 0;
    }

    50%{
        transform: translate(-50%, -52%);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}


.logos {
    position: fixed;
    width: 35%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: lolo 3s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 1s;
    animation-fill-mode: both;
    z-index: 2;
}

@keyframes lolo {
    0% {
        transform: translate(-50%, -40%);
        opacity: 0;
        filter: blur(0);
    }
    50% {
        transform: translate(-50%, -52%);
        opacity: 1;
        filter: blur(0);
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: blur(4px);  
    }
}

.motto {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.5;
    color: white;
    animation: texte 3s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 2s;
    animation-fill-mode: both;
    z-index: 3;
    pointer-events: none;
}

@keyframes texte {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.imagecontains:first-child {
    left: 12.5%;
}

.imagecontains:last-child {
    left: 87.5%;
}

.aqipic, .aripic {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
}




.aqipic {
    border-radius: 0 25px 0 25px;
}

.aripic {
    border-radius: 25px 0 25px 0;
}

.imagecontains:hover .aqipic,
.imagecontains:hover .aripic {
    filter: blur(2px);
    border-radius: 25px;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(145deg, rgba(77, 106, 125, 0.7), rgba(127, 174, 220, 0.7));
    color: white;
    text-align: center;
    width: 75%;
    height: 50%;
    padding: 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    font-size: 1rem;
    border-radius: 0 25px 0 25px;
    display: flex;
    justify-content: center; 
    align-items: center;
}


.imagecontains:hover .info {
    background: linear-gradient(145deg, rgba(77, 106, 125, 0.7), rgba(127, 174, 220, 0.7));
    opacity: 1;
}

.contactbox {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;    
    height: 70%;
    width: 5vw;
    position: fixed;
    top: 50%;
    left: 12.5%;
    transform: translate(-50%, -50%);
    background: linear-gradient(145deg, #4d6a7d, #7faedc);
    z-index: 1499;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.35);
    animation: contacts 3s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 2s;
    animation-fill-mode: both;
    pointer-events: auto;
}

@keyframes contacts {
    0% {
        left: 35%;
        height: 0%;
        border-radius: 30px;
        opacity: 0;
    }
    50% {
        left: 35%;
        height: 10%;
        border-radius: 30px;
        opacity: 0;

    }

    75%{
        left: 12.5%;
        height: 10%;
        border-radius: 30px;
        opacity: 1;

    }
    100% {
        left: 12.5%;
        height: 70%;
        border-radius: 0 25px 0 25px;
        opacity: 1;

    }
}

.icon,
.iconent {
    width: 52px;
    height: 52px;
    margin: 12px 0;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.iconent{
    z-index: 3;
}

.icon {
    animation: iconentrans 3s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 3.5s;
    animation-fill-mode: both;
    z-index: 1;
}


@keyframes iconentrans {
    0% {
        height: 0;
        margin: -25px 0;
        opacity: 0;
    }
    100% {
        height: 52px;
        margin: 12px 0;
        opacity: 1;
    }
}

.icon:hover,
.iconent:hover {
    transform: scale(1.25);
}



/* WAVING EFFECTS */
.wave-content {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
    bottom: -10px;
}

.wave-layered {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    z-index: 1105;
    bottom: -20px;
    pointer-events: none;
}

.waves {
    position:fixed;
    width: 100%;
    height:100vh;
    margin-bottom:-7px;
    min-height:100px;
    max-height:150px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
  
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}


/* TESTING */
body {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
body.loaded {
    opacity: 1;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.loader.active {
    opacity: 1;
    pointer-events: auto;
}

header, .Menu-tab {
    transition: opacity 0.5s ease-in-out;
}
