body {
    margin:0;
    padding: 0;
    overflow: hidden;
    
}

/*DASHBOARD*/
header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(165deg, #4d677c ,#8bbbe0, #c6dafd, white);
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 1050;
    border-bottom: 1px solid white;
}

.dash {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10.5%;
}


.nav-center {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 1;
}

.nav-center li {
    list-style: none;
}

.nav {
    text-decoration: none;
    font-size: 1.15rem;
    padding: 8px 25px;
    transition: 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    margin: 25px;
    background-color: #b3e0f7;
    border: white 1px solid;
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.3);
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav:hover {
    background: white;
    color: black;
    border-radius: 25px;
}

.btn-logout {
    position: fixed;
    background: linear-gradient(90deg, #DC2626, #B91C1C);
    color: white;
    border: none;
    padding: 8px 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 1051;
    top: .5%;
    right: 5%;
    transform: translate(50%, 50%);
    border-radius: 25px;
}

.btn-logout:hover {
    background-color: darkred;
    transform: translate(50%, 50%) scale(1.1);
}



/* MENU BAR */
.Menu-tab {
    position: fixed;
    width: 21rem; 
    height: 100%; 
    background: linear-gradient(145deg, #4d677c ,#8bbbe0, #c6dafd);
    z-index: 1100;
    top: 50%;
    left: 0;
    border-right: 1px solid white;
    transform: translateY(-50%);
    display: flex;
    padding: 2rem;
    flex-direction: column; 
    justify-content: center;  
    align-items: center; 
    gap: 1rem;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    letter-spacing: 5px;
}

.home, .admission, .list, .grade {
    width: 17.5rem;
    height: 2.75rem;
    color: rgba(0, 0, 0, 0.3);
    background-color: #b3e0f7;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 15px 0 15px;
    margin: 10px;
    transition: all 0.4s ease-in-out;
    border: 1px solid white;
}

.home:hover, .admission:hover, .list:hover, .calendar:hover, .grade:hover {
    transform: scale(1.05);
    background: white;
    color: black;
    border-radius: 25px 0 25px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid white;
}

/* BACKGROUND */
.background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: 900;
    background: #b3e0f7; 
    pointer-events: none;
}


/* REGISTRATION COMPLETE */
.complete {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 65%;
    background: linear-gradient(145deg, #4d6a7d, #7faedc);
    border-radius: 25px 0 25px 0 ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 2;
    border: 1px solid black;
    z-index: 1000;
    animation: ret-entrance 1s ease-out forwards;
    animation-delay: .5s;
    animation-fill-mode: both;
}

@keyframes ret-entrance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.complete p {
    padding: 15px;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background: linear-gradient(145deg, #79a6c4, #7faedc);
    border-radius: 25px;
    border: black 1px solid;
    margin-top: -11.5px;
}


.complete h1 {
    margin-bottom: 25px;
    font-size: 1.8rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.complete h2 {
    margin-bottom: 25px;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.button {
    position: absolute;
    top: 86.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    text-align: center;    
    text-decoration: none;
    font-size: 16px;
    background: linear-gradient(145deg, #79a6c4, #7faedc);
    border: black 1px solid;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: all 1s ease-in-out;
    width: 45%;
}

.button:hover {
    background: #73a6ff;
}

.return {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    letter-spacing: 3.2px;
    position: absolute;
    top: 13.5%;
    width: 10%;
    left: 37.5%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background: linear-gradient(145deg, #79a6c4, #7faedc);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0 20px 0 20px;
    font-size: 16px;
    border: black 1px solid;
    text-align: center;
    transition: all 1s ease-in-out;
    cursor: pointer;
    z-index: 1001;
    animation: ret-entrance 1s ease-out forwards;
    animation-delay: .5s;
    animation-fill-mode: both;
}


.return:hover {
    background: #e96767;
}

/* WAVING EFFECTS */
.wave-content {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
    bottom: -10px;
    pointer-events: none;

}

.wave-layered {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    z-index: 1105;
    bottom: -20px;
    pointer-events: none;
}

.waves {
    position:fixed;
    width: 100%;
    height:100vh;
    margin-bottom:-7px;
    min-height:100px;
    max-height:150px;
    pointer-events: none;

}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
  
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}


/* TESTING */
body {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
body.loaded {
    opacity: 1;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.loader.active {
    opacity: 1;
    pointer-events: auto;
}

header, .Menu-tab {
    transition: opacity 0.5s ease-in-out;
}
