body {
    font-family: Arial, sans-serif; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 95vh; 
    background-color: #f4f4f4;
}

.background1 {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background: lightcyan; 
}

.container {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 62.5rem; 
    height: 37.5rem; 
    background: transparent; 
    text-align: center; 
    overflow: visible;    
}


.background {
    position: relative; 
    margin: 17.5px 12.5px 12.5px 17.5px;
    width: 70rem; 
    height: 35.5rem; 
    background: whitesmoke; 
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    text-align: center; 
    overflow: hidden;
    z-index: 1;
    border-radius: 25px; 
}

#toggle { display: none; }

.forms {
    position: relative; 
    width: 100%; 
    height: 100%; 
    display: flex;
    z-index: 2;

}

.login{
    position: absolute; 
    width: 50%; 
    height: 100%; 
    background: rgb(39, 99, 119); 
    top: 0;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    border-radius: 25px 0 25px 0; 
    z-index: 3;
    box-shadow: 30px 0 30px 0 rgba(0,0,0,0.2);
}

.register {
    position: absolute; 
    width: 50%; 
    height: 100%; 
    background: rgb(39, 99, 119); 
    top: 0;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    border-radius: 0 25px 0 25px; 
    z-index: 3;
}

.login { left: 0; transform: translateX(0); opacity: 1; }
.register { right: 0; transform: translateX(100%); opacity: 0; }

#toggle:checked ~ .forms .login {
    transform: translateX(-100%); 
    opacity: 0;
}

#toggle:checked ~ .forms .register {
    transform: translateX(0); 
    opacity: 1;
}

.form-group, .form-register {
    margin-bottom: 10px; 
    text-align: left;
}

input {
    width: 50%;
    display: block;
    margin: 5px auto;
    padding: 15px;
    border: 3px solid darkblue;
    border-radius: 5px;
}


button {
    width: 50%; 
    padding: 10px; 
    background-color: white;
    color: blue;
    margin: 5px auto;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}

.username-reg-cs,.email-cs, .password-reg-cs, .email-reg-cs, .password-cs{
    display: block; 
    margin: 5px auto;
    color: white; 
    text-align: center;
    font-family: Georgia, serif;

}

.TITLE {
    font-weight: 700;
    text-align: center;
    margin-bottom: 3.75rem;
    font-size: 2.5rem;
    color: white; 
    font-family: Georgia, serif;
}

.switch{
    display: block; 
    margin: 5px auto;
    color: white;
    text-decoration: underline;
    text-align: center;
}

.location {
    width: 100%; 
    padding: 15px; 
    margin-top: 14rem;
    background: rgb(39, 99, 119); 
    text-align: center;
    font-weight: 700;
    color: white;
    border: none; 
    border-radius:0 15px 0 15px; 
    cursor: pointer;
    display: inline-block;
    z-index: 5;
}

.career {
    width: 100%; 
    font-weight: 700;
    padding: 15px; 
    margin-top: 8.5rem;
    background: rgb(39, 99, 119); 
    text-align: center;
    color: white;
    border: none; 
    border-radius: 15px 0 15px 0; 
    cursor: pointer;
    display: inline-block;
    z-index: 5;
}