body {
    margin:0;
    padding: 0;
    overflow: hidden;
    
}


/*DASHBOARD*/
header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.5px 30px;
    background: linear-gradient(165deg, #4d677c ,#8bbbe0, #c6dafd, white);
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 1050;
    border-bottom: 1px solid white;
}

a[data-target="about"] {
    background-color: #7AE2CF;
    color: black; 
    transform: all 2s ease-in-out;   
    font-weight: bold;
}

a[data-target="about"]:hover {
    background-color: #db835f;
    color: black;    
}

.dash {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-right: -40.5%;
}


.nav-center {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex: 1;
}


.nav-center li {
    list-style: none;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.15rem;
    padding: 8px 25px;
    transition: 0.3s ease-in-out;
    margin: 0 1.25rem;
    background-color: #b3e0f7;
    border: white 1px solid;
    border-radius: 25px;
    width: fit-content;
    transform: translateX(-3.5rem);
}

.nav:hover {
    background: white;
    color: black;
    border-radius: 25px;
}

.btn-logout {
    position: fixed;
    background: linear-gradient(90deg, #DC2626, #B91C1C);
    color: white;
    border: none;
    padding: 8px 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    z-index: 1051;
    top: .5%;
    right: 5%;
    transform: translate(50%, 50%);
    border-radius: 25px;
}

.btn-logout:hover {
    background-color: darkred;
    transform: translate(50%, 50%) scale(1.1);
}

/* BACKGROUND */
.background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: 900;
    background: #b3e0f7; 
    pointer-events: none;
}

/* PROFILE */
.profile-container {
    position: absolute;
    top: 53.5%;
    left: 50%;
    width: 65%;
    height: 65%;
    transform: translate(-50%, -50%);
    z-index: 12345;
    background: linear-gradient(145deg, #4d6a7d, #7faedc);
    border-radius: 0 35px 0 35px;
    border: 1px solid black;
    box-shadow: 7.5px 15px 15px rgba(0, 0, 0, 0.7);
    animation: bebe 3s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 0.25s;
    animation-fill-mode: both;
    padding: 15px;
}

@keyframes bebe {
    0% {
        transform: translate(-50%, -30%);
        opacity: 0;
        height: 0%;
        width: 0%;
        border-radius: 30px;
    }

    50%{
        transform: translate(-50%, -52%);
        opacity: 1;
        height: 35%;
        width: 33.75%;
        border-radius: 30px;

    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
        width: 65%;
        height: 65%;
        border-radius: 0 25px 0 25px;
    }
}

/* PROFILE LOGO */
.logos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: lolo 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 1s;
    animation-fill-mode: both;
    z-index: 2;
    pointer-events: none;
}

@keyframes lolo {
    0% {
        transform: translate(-50%, -40%) scale(0.5);
        opacity: 0;
        filter: blur(0);
    }
    50% {
        transform: translate(-50%, -52%) scale(0.5);
        opacity: 1;
        filter: blur(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.65;
        filter: blur(4px);
    }
}

/* PROFILE TITLE */
.profileh1 {
    text-transform: uppercase;
    color: white;
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    z-index: 2;
    opacity: 0;
    animation: fadetitle 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes fadetitle {
    0% {
        transform: translate(-50%, -52%) scale(0.2);

        opacity: 0;
    }
    50% {
        transform: translate(-50%, -52%) scale(0.5);
        opacity: 1;
        filter: blur(0);
    }


    100% {
        transform: translate(-50%, -52%) scale(1.5);
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* PROFILE PICTURE */
.profile-picture{
    position: fixed;
    top: 40%;
    left: 82.5%;
    font-size: 1rem;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 2s;
    animation-fill-mode: both;
}

/* PROFILE NAME/ETC (displayed) */
.profile-details{
    position: fixed;
    top: 22.5%;
    left: 21.5%;
    font-size: 1.5rem;
    width: 35%;
    color: white;
    background-color: transparent;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.profile-actions{
    position: absolute;
    top: 62.5%;
    left: 17.5%;
    padding: 25px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 2s;
    animation-fill-mode: both;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: white;
    font-size: 15px;
    letter-spacing: 5px;
    text-transform: uppercase;  
}

/* VIEW SUPPORTING DATA */
.viewing-doc {
    display: block;
    width: 100%;
    max-width: 600px;
    text-decoration: none;
    margin: 2px auto 0 auto;
    padding: 15px 15px;
    background: linear-gradient(145deg, #4d677c, #8bbbe0, #c6dafd);
    border: 1px solid #000000;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    animation: fadeIn 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.upload-btn{
    display: block;
    width: 100%;
    max-width: 600px;
    text-decoration: none;
    margin: 2px auto 0 auto;
    padding: 15px 15px;
    background: linear-gradient(145deg, #4d677c, #8bbbe0, #c6dafd);
    border: 1px solid #000000;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    animation: fadeIn 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.viewing-doc:hover {
    transform: scale(1.05);
}

.form-input {
    width: 100%;
    font-style: none;
    max-width: 600px;
    padding: 15px 15px;
    background: linear-gradient(145deg, #4d677c ,#8bbbe0, #c6dafd);
    border: 1px solid #000000;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    animation: fadeIn 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.file-input {   
    width: 100%;
    padding: 8px;
    
    color: transparent;
}

.file-input::file-selector-button {
    display: block;
    width: 100%;
    max-width: 600px;
    text-decoration: none;
    margin: 2px 0 5px -7.5px; /* ⬅ moved to the left */
    padding: 15px 15px;
    background: linear-gradient(145deg, #4d677c, #8bbbe0, #c6dafd);
    border: 1px solid #000000;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    position: relative;
    text-align: center;
    transition: transform 1s ease-in-out;
    animation: fadeIn 2s cubic-bezier(0.77, 0, 0.175, 1) forwards;
    animation-delay: 1s;
    animation-fill-mode: both;
}


.file-input::file-selector-button:hover {
    transform: scale(.95);
    background: #83b1ff;
    color: black;
}

.upload-btn{
    background-color: #007bff;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    transition: transform 1s ease-in-out;    
}

.upload-btn:hover{
    transform: scale(1.05);
    background: #83b1ff;
    color: black;

}


.file-info {
    font-size: 14px;
    color: #000000;
    margin-top: 1rem;
}

/* submit */
.submit-btn {
    width: 110%;
    font-style: none;
    padding: 15px 15px;
    background: linear-gradient(145deg, #4d677c, #8bbbe0, #c6dafd);
    border: 1px solid #000000;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    transition: transform 1s ease-in-out, background-color 0.3s ease;
    margin: 25px auto 0 auto;

}

.submit-btn:hover {
    transform: scale(1.05);
    background: #83b1ff;
    color: black;
}


/* WAVING EFFECTS */
.wave-content {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
    bottom: -10px;
}

.wave-layered {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    z-index: 1105;
    bottom: -20px;
    pointer-events: none;
}

.waves {
    position:fixed;
    width: 100%;
    height:100vh;
    margin-bottom:-7px;
    min-height:100px;
    max-height:150px;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
  
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% {
        transform: translate3d(85px,0,0);
    }
}


/* TESTING */
body {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
body.loaded {
    opacity: 1;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.loader.active {
    opacity: 1;
    pointer-events: auto;
}

header, .Menu-tab {
    transition: opacity 0.5s ease-in-out;
}
