body {
    margin:0;
    padding: 0;
    overflow: hidden;
    
}

/*Text entrance*/
.text-entry{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    animation: text-entry-move 1.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

/*Text entrance animation*/
@keyframes text-entry-move{
    0%{
        opacity: 0;
        left: 55%;
    }
    70%{
        opacity: 1;
        left: 49.5%;
    }
    100%{
        opacity: 1;
        left: 50%;
    }
}

/*Text For Gabi*/
.textanim1{
    background-color: white;
}

/*Text Dev*/
.textanim2{
    font-size: 22.5px;
    background-color: black;
    color: white;
    animation: text-dev-move s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.background{
    position: absolute;
    width: 100vw; 
    height: 100vh; 
    background-color: rgb(255, 255, 255);
}