<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Grades</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='adding.css')}}"> <!-- CSS FILE -->
    <script type="text/javascript" src="{{ url_for('static', filename='effects.js')}}"></script> <!-- JS FILE -->
</head>

<body>

<!-- DASHBOARD -->
<header>    
    <div href="#" class="logo" data-target="home">
            <img src="static/uploads/LOGO.png" class="logos">
    </div>
    <nav>
        <ul class="dash">
            <li><a href="#" class="nav" data-target="about">About</a></li>
            <li><a href="#" class="nav" data-target="contact">Contact</a></li>
            <li><a href="/profile/admin" class="nav" data-target="profile">Profile</a></li>
            
        </ul>
    </nav>  
    <form action="{{ url_for('logout') }}" method="post" class="logout-form">
        <button type="submit" class="btn btn-logout">Logout</button>
    </form>
</header>

<!-- BACKGROUND -->
<div class="background"></div>

<!-- MANU TABLE -->
<section class="menu">
    <div class="Menu-tab">
        <a href="/admin/home" class="list">HOME</a>
        <a href="/admin/dashboard" class="list">ADMISSION</a>
        <a href="/users" class="list">LIST</a>
        <a href="/admin/grades" class="list">GRADE</a>
    </div>
</section>

<section class="adding">
    <div class="adding-container">
    <h1>Add Grades for {{ student.full_name }}</h1>
    <form method="POST">
        <label for="semester">Semester:</label>
        <select name="semester" id="semester">
            <option value="1">1</option>
        </select>
        <br><br>
        {% for subject in subjects %}
        <div>
            <label for="{{ subject }}">{{ subject }}</label>
            <input type="number" step="0.01" name="{{ subject }}" id="{{ subject }}" placeholder="Enter grade">
        </div>
        {% endfor %}
        <br>
        <button type="submit">Submit Grades</button>
    </form>
</div>
</section>
</body>
</html>