<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="{{ url_for('static', filename='effects.js')}}"></script> <!-- JS FILE -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='editgrade.css')}}"> <!-- CSS FILE -->

<body>
<!-- DASHBOARD -->
<header>    
    <div href="#" class="logo" data-target="home">
            <img src="static/uploads/LOGO.png" class="logos">
    </div>
    <nav>
        <ul class="dash">
            <li><a href="/admin/about" class="nav" data-target="about">About</a></li>
            <li><a href="/profile/admin" class="nav" data-target="profile">Profile</a></li>
            
        </ul>
    </nav>  
    <form action="{{ url_for('logout') }}" method="post" class="logout-form">
        <button type="submit" class="btn btn-logout">Logout</button>
    </form>
</header>   

<!-- BACKGROUND -->
<div class="background"></div>

<!-- MANU TABLE -->
<section class="menu">
    <div class="Menu-tab">
        <a href="/admin/home" class="list">HOME</a>
        <a href="/admin/dashboard" class="list">ADMISSION</a>
        <a href="/users" class="list">LIST</a>
        <a href="/admin/grades" class="list">GRADE</a>
    </div>
</section>

<h1>All Students' Grades</h1>
    {% if students %}
    <table>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Subject</th>
                <th>Semester</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                {% for grade in grades %}
                    {% if grade.student_id == student.id %}
                    <tr>
                        <td>{{ student.full_name }}</td>
                        <td>{{ grade.subject }}</td>
                        <td>{{ grade.semester }}</td>
                        <td>{{ grade.grade }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No grades available.</p>
    {% endif %}


</body>
</html>