<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main Page</title>
    <link rel="stylesheet"type="text/css" href="{{ url_for('static', filename='ex_reg.css')}}"/><!-- CSS FILE -->
    <script type="text/javascript" src="{{ url_for('static', filename='effects.js')}}"></script> <!-- JS FILE -->

  </head>

<body>

<!-- EXTRA REGISTRATION -->
<section class="registration">

    <div class="registration-container">

        <form class= "exregis"method="POST" enctype="multipart/form-data">
            <h1 class ="title1">ADDITIONAL INFORMATIONS </h1>
            <p class = "title2">Please provide the required information to complete your registration.</p>

            <div>
                <label for="full_name">Full Name:</label>
                <input class="inputs" type="text" id="full_name" name="full_name" value="{{ registration_request.full_name }}" required>
            </div>

            <div>
                <label for="address">Address:</label>
                <input class="inputs" type="text" id="address" name="address" value="{{ registration_request.address }}" required>
            </div>

            <div>
                <label for="contact_number">Contact Number:</label>
                <input class="inputs" type="tel" max="11" min="11" id="contact_number" name="contact_number" value="{{ registration_request.contact_number }}" required>
            </div>

                <div class="mb-3">
                <label for="course" class="form-label">Select a Course</label>
                <select class="form-select" id="course" name="course" required>
                    <option class ="OPTIONT" value="" disabled selected>Choose a course</option>
                    {% for course in courses %}
                        <option class ="OPTION" value="{{ course }}">{{ course }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- DOCUMENT SUPPORT -->
            <div>
                <label class= "files" for="file">Supporting Document</label>

                <input  class = "filesum" type="file" id="file" name="file">
                {% if registration_request.supporting_document %}
                    <p>Current Document: {{ registration_request.supporting_document }}</p>
                {% endif %}

                
            </div>

            <button class="sumbit" type="submit">Submit</button>
        </form>            
    </div>
</section>

<!-- RETURN -->
<div class="Return-container"> 
    <a href="/login" class="return" data-target="login">RETURN</a>
</div>

<!-- EXTRA REGISTRATION -->
<section class="explanation">
    <div class="div-container">
        <p class="statements">We collect personal information such as your name, contact details, and supporting documents to process your registration and provide student-related services.

All data is kept confidential and used only for school purposes, such as communication, enrollment records, and ensuring student support.

We do not share your information with outside parties without your permission, unless required by law.

If you have questions about how your data is used, please contact the school office.

</p>
    </div>
</section>



<!-- BACKGROUND -->
<div class="background"></div>

<!-- WAVING CONTENT -->
<div class="wave-content">

  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>

    <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#77CAE8" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="#68A9C0" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="#5E9DB4" />
        <use xlink:href="#gentle-wave" x="48" y="2" fill="#648F9F" />
    </g>
  </svg>
</div>      

<!-- WAVING LAYERED -->
<div class="wave-layered">

  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>

    <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="5" fill="#5E9DB4" />
    </g>
  </svg>
</div>      


</body>
</html>
