<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}"> <!-- CSS FILE -->
    <script type="text/javascript" src="{{ url_for('static', filename='login.js')}}"></script> <!-- JS FILE -->


</head>

<body>
<!-- BACKGROUND -->
<div class="background2">
<img src="static/background/bg1.jpeg" class="background1">
<img src="static/background/bg2.jpeg" class="background1">
<img src="static/background/bg3.jpeg" class="background1">
<img src="static/background/bg4.jpeg" class="background1">



<section class="container">
    <input type="checkbox" id="toggle"> 
        
    <div class="forms">

        <!-- Login Form -->
        <div class="login">
            <form method="POST" action="{{ url_for('login') }}">
                <h3 class="TITLE">LOGIN</h3>

                <div class="form-group">
                    <label for="email-log" class = "email-cs">Email Address</label>
                     <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"/>
                </div>

                 <div class="form-group">
                    <label for="password-log" class = "password-cs">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"/>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
                

                <!-- Toggle to Register -->
                <label for="toggle" class ="switch" >No account?</label>

            </form>

            <!-- Available location -->
            <button class="location" onclick="openDialog('popup-location')">Available Location</button>
            <dialog class="availLoc" id="popup-location">
            <button class="availclose" onclick="closeDialog('popup-location')">Close</button>
            <div class="availog">LOCATION IN LIST</div>
            </dialog>

        </div>
            <!--BACKGROUND AND LOGO FOR MISSION VISSION-->
            <div class="background">
            <img src="static/uploads/LOGO.png" class="LogoC">

            <div class="vissions"> 
            
            <h1 class="tit">Mission:<br></h1>
            <h2 class="h2mis">"To empower students with knowledge, creativity, and strong moral values, fostering a lifelong passion for learning in a dynamic and inclusive environment."<br><br></h2>

            <h1 class="tit">Vision:<br></h1>
            <h2 class="h2mis">"To be a leading institution that nurtures future leaders, innovators, and compassionate individuals who contribute positively to society and the world."</h2>
            </h1>
            </div>
            
        </div>
            

        <!-- Register Form -->
        <div class="register">
            <form method="POST" action="{{ url_for('register') }}">
                <h3 class="TITLE">ENROLL</h3>

                <div class="form-register">
                    <label for="username-reg" class = "username-reg-cs">Username</label>
                    <input type="text" id="username" name="username" required  placeholder="Enter Username">
                </div>

                <div class="form-register">
                    <label for="email-reg" class ="email-reg-cs">Email</label>
                    <input type="email" id="email" name="email" required  placeholder="Enter Email">
                </div>

                <div class="form-register">
                    <label for="password-reg" class ="password-reg-cs">Password</label>
                    <input type="password" id="password" name="password" required  placeholder="Enter Password">
                </div>
            
                <button type="submit" class="btn btn-primary-reg">Enroll</button>

                    <!-- Toggle back to Login -->
                <label for="toggle" class = "switch">Already have an account?</label>
            </form>

            <!-- Available Career -->
            <button class="career" onclick="careerDialog('popup-career')">Available Career</button>
            <dialog class="availcar" id="popup-career">
            <button class="carclose" onclick="carexitDialog('popup-career')">Close</button>
            <div class="availcard">CAREER IN LIST</div>
            </dialog>

        </div>
    </div>
</div>




</div>

</body>
</html>
