<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="container">

    <form method="POST" action="{{ url_for('register') }}">
        <h3 class= "center">REGISTER</h3>

        <div class= "form-group">
            <label for="username">username</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class= "form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class= "form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
        <a href="/login" class="alr">Already Have a account?</a>

    </form>
</div>

</body>
</html>
