<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Complete</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='complete.css') }}">
</head>
<body>
<!-- RETURN -->
<div class="Return-container"> 
    <a href="/about" class="return" data-target="about">RETURN</a>
</div>

<!-- COMPLETE REGISTRATION -->
<section class="complete">
    <!-- COMPLETE CONTAINER -->
    <div class="complete-container">

        <h1>Registration Complete</h1>

        <h2>Extra Registration Details</h2>

        <p><strong>Full Name:</strong> {{ extra_details.full_name }}</p>

        <p><strong>Address:</strong> {{ extra_details.address }}</p>

        <p><strong>Contact Number:</strong> {{ extra_details.contact_number }}</p>

        <p><strong>Course:</strong> {{ extra_details.course }}</p>

        <p> 
            <a class="button" href="{{ url_for('static', filename='uploads/' + extra_details.supporting_document) }}" target="_blank">
                View Document
            </a>
        </p>


    </div>
</section>


<!--  Di na siguro ipakita yung mga last na nag register sur

    <h2>Last Registered User</h2>
    <p><strong>Username:</strong> {{ last_user.username }}</p>
    <p><strong>Email:</strong> {{ last_user.email }}</p> 
-->


<!-- BACKGROUND -->
<div class="background"></div>



</body>
</html>