<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main Page</title>
    <link rel="stylesheet"type="text/css" href="{{ url_for('static', filename='aboutus.css')}}"/><!-- CSS FILE -->
    <script type="text/javascript" src="{{ url_for('static', filename='effects.js')}}"></script> <!-- JS FILE -->
    <script type="text/javascript" src="{{ url_for('static', filename='main.js')}}"></script> <!-- JS FILE -->
  </head>

<body>

<!-- DASHBOARD -->
<header>    
    <nav>
        <ul class="dash"> 
            <li><a href="/teacher/dashboard" class="nav" data-target="about">Return</a></li>
            <li><a href="/teacher/profile" class="nav" data-target="profile">Profile</a></li>
        </ul>
    </nav>  

    <form action="{{ url_for('logout') }}" method="post" class="logout-form">
        <button type="submit" class="btn btn-logout">Logout</button>
    </form>
    
</header>


<section class ="aboutContainer">
  <div class="imagecontains">
    <img src="{{ url_for('static', filename='about/akino.jpg') }}" class="aqipic">
      <div class="info"> Gabriel Stephen Aquino
    </div>
  </div>


  <img src="{{ url_for('static', filename='uploads/LOGO.png') }}" class="logos">
  <div class = "rectangularanim"></div>
    <div class="motto">
      <h1>"Empowering Minds, Shaping Futures."</h1>
      <h2>To emphasizes the idea of nurturing students' potential and guiding them toward success. Let me know if you'd like any adjustments or a different approach!</h2>
    </div>


  <div class="imagecontains">
    <img src="{{ url_for('static', filename='about/arida.jpg') }}" class="aripic">
    <div class="info"> Eugene Gaud Arida
    </div>
  </div>
  


</section>

<div class="contactbox">

</div>



<!-- BACKGROUND -->
<div class="background"></div>

<!-- WAVING CONTENT -->
<div class="wave-content">

  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>

    <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#77CAE8" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="#68A9C0" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="#5E9DB4" />
        <use xlink:href="#gentle-wave" x="48" y="2" fill="#648F9F" />
    </g>
  </svg>
</div>      

<!-- WAVING LAYERED -->
<div class="wave-layered">

  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>

    <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="5" fill="#5E9DB4" />
    </g>
  </svg>
</div>      


</body>
</html>
