<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main Page</title>
    <link rel="stylesheet"type="text/css" href="{{ url_for('static', filename='TESTINGWAVE.css')}}"/><!-- CSS FILE -->
    <script type="text/javascript" src="{{ url_for('static', filename='effects.js')}}"></script> <!-- JS FILE -->
    <script type="text/javascript" src="{{ url_for('static', filename='main.js')}}"></script> <!-- JS FILE -->
  </head>

<body>

<div class="text-entry">
  <h1 class ="textanim1">Gabi</h1>
  <h1 class ="textanim2">Dev</h1>
</div>


<h1 class ="background"></h1>



</body>
</html>
